h1{
    text-align: center;
    color:yellow;
}

.s1{
    background-image: url('../images/image1.jpg');
    background-size:cover; 
}

.s2{
  background-color: orange;
  background-size:cover; 
}



#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 100%;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}