<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TBD: Catchy Beer Title</title>

  <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" integrity="sha512-4rPgyv5iG0PZw8E+oRdfN/Gq+yilzt9rQ8Yci2jJ15rAyBmF0HBE4wFjBkoB72cxBeg63uobaj1UcNt/scV93w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href = "../static/css/main.css">  
  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
  
</head>

<body>
    <div id="fullPage">

        <div class="section s1">
            <h1>The First Section</h1>
        </div>

        <div class="section s1">
            <h1>The Second Section</h1>
        </div>

        <div class="section s1">
            <h1>The Third Section</h1>
        </div>

        <!-- The div that holds our map -->
        <div class = "section" id="map"></div>

    </div>

    <!-- The div that holds our map -->
    <!-- <div id="map"></div> -->

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/logic.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" 
        integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new fullpage('#fullPage', {
            autoScrolling: true
        })

    </script>
</body>

</html>